<!doctype html>
<html lang="en">
  <head>
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.4/examples/jumbotron-narrow/">

    <title>Generate lyrics</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron-narrow.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--  script for typed --> 
 	<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
  </head>



  <body>
    <div class="container" style="height:100%;">

<!-- NAVIGATION BAR -->
    	<div class="container">
	      	<div class="header clearfix" style="height:30%;">
				<nav class="navbar navbar-expand navbar-light">

				    <div class="w-100 dual-collapse2 row">
				        <ul class="navbar-nav mr-auto">
						<h3> generate lyrics </h3>
				        </ul>
				    </div>
				   <div class="navbar-header navbar-right pull-right">
				        <ul class="navbar-nav ml-auto">
				            <li class="nav-item">
				                <a class="nav-link" href="index">home</a>
				            </li>
				            <li class="nav-item">
				                <a class="nav-link" href="about">about</a>
				            </li>
				        </ul>
				    </div>
				</nav>
			</div>
		</div>


<!-- CONTENT -->
		<div class = "container" style= "height:100%;">

			<div class = "row"> 

				<div class = "col-8 py-4 content-wrapper" style="height:100%;">
			      	{% block content %}
			        {% endblock %}
			    </div>

			    <div class = "col-4 form bg-white py-4">
			      	{% block form %}
			        {% endblock %}
			    </div>

			</div>

		</div>

       <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

  </body>


<style>
html, body {
	height: 100%;
}

.content-wrapper {
/*	position: absolute;
*/    overflow-y: auto;
}

}

p, span {
  fontSize: 50px;

}
</style>




</html>